#survey {
  margin: auto;
  width: 50%;
}

#popup {
  margin: 20px auto;
  width: 700px;
}

#popupContentFrameA {
  display: none;
  margin: 20px auto;
  width: 50%;
}
#defaultFrameA {
  border: green 2px solid;
  margin-bottom: 20px;
}
#customFrameA {
  display: none;
  border: blue 2px solid;
}


#popupContentFrameB {
  display: none;
  margin: 20px auto;
  width: 50%;
}
#defaultFrameB {
  border: red 2px solid;
  margin-bottom: 20px;
}
#customFrameB {
  display: none;
  border: yellow 2px solid;
}
